@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
    font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Droid Serif';
  font-weight: normal;
}

.remark-slide-content h1 {
    font-size: 60px;
    margin: 30px 0;
}

img {
    width: 50%;
}

blockquote {
    color: #666;
    font-size: 80%;
    font-style: italic;
    margin: 3em;
    padding: 1em;
    line-height: 1.4em;
    background-color: #f0f0f0;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

footer {
    color: #888;
    font-size: 80%;
    border-top: 1px solid #888;
    position: absolute;
    bottom: 1em;
    padding-top: 1em;
    width: 80%;
    text-align: left;
}

strong: {
    color: #000;
}

.inverse {
  background: #272822;
  color: #A7A8A2;
  text-shadow: 0 0 20px #333;
}

.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

svg {
     width: 100%;
     height: 200;
}

svg line, svg polyline, svg circle, svg g {
    stroke: gray;
    stroke-width: 8;
}

svg text {
    stroke-width: 0;
}

svg .no-stroke, svg .no-stroke line, svg .no-stroke circle {
    stroke-width: 0;
}

svg .flecha {
    marker-end: url(#markerArrow);
}

.js { fill: #e5bb31; }
.php { fill: #4F5B93; }
.ruby { fill: #CC342D; }

.no-fill { fill: none; }
.stroke-php { stroke: #4F5B93; }
